/*\
|*|
|*| Properties for the page: colors, etc.
|*|
|*| This is intended to be the easiest section to edit
|*| some easy custom theming, (a custom color scheme, etc.).
|*|
\*/

:root {
    /* Standard colors for text. */
    --text-fg-color: #333738;
    --text-fg-color-max-contrast: black;
    --text-bg-color: white;
    --outside-page-bg-color: #333738;

    /* A little color to avoid a fully monochromatic theme. */
    --accent-color: #287789;
    --accent-color-bright: #44c7ef;

    /* Some colors intended to convey semnatics. */
    --warning-color: #ffa92a;
    --danger-color: #f56257;
    --danger-color-dark: #bc2822;
}

/*\
|*|
|*| Core elements: Sizing, padding, and application of theme colors
|*|
\*/

body {
    line-height: 1.25;
    font-family: sans-serif;
    color: var(--text-fg-color-max-contrast);
}

h1,h2 {
    color: var(--text-fg-color);
    font-weight: bold;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 110%;
}

p,dl,dd,form {
    margin-bottom: 1em;
}

ul li {
    margin-left: 1em;
    list-style-type: disc;
    margin-bottom: 0.5em;
}

a:link    {
    color: var(--accent-color);
}
a:visited {
    color: var(--accent-color);
}
a:hover   {
    color: var(--accent-color-bright);
}
a:active  {
    color: var(--accent-color-bright);
}

/*\
|*|
|*| Overall page layout
|*|
|*| Assumes: Top-level div with id="page" for all content
|*|
\*/

/* Mobile-first: At small sized we have a white background and use the
 * entire screen width for the page (so the background color of the
 * body is not visible anywhere). */
body {
    background-color: var(--outside-page-bg-color);
}

#page {
    background-color: var(--text-bg-color);
}

/* For a small screen (in either width or height) change the
 * background of the body element to white so the application always
 * appears as if it is "full screen".
 */
@media screen and (max-width: 500px) and (max-height: 860px) {
    body {
        background-color: var(--text-bg-color);
    }
}

/* We never let the page content get larger than a large fixed width.
 *
 * And when the screen is wide enough, we can afford some "wasted"
 * space on either side of the page content. This starts at 0 for a
 * 620px wide page up to 50px on either side for a 820px wide page.
 *
 * Note: This 820px width for the page includes the padding so the
 * actual content is only ever as wide as 720px.
 *
 * Wider than that and we start to see the background on either side
 * of the page content.
 */
#page {
    box-sizing: border-box;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
}

@media screen and (min-width: 720px) and (max-width: 820px) {
    #page {
        padding-left: calc(1em + (100% - 720px)/2);
        padding-right: calc(1em + (100% - 720px)/2);
    }
}

@media screen and (min-width: 820px) {
    #page {
        padding-left: calc(1em + 50px);
        padding-right: calc(1em + 50px);
    }
}

/* The calculations for height are different. We don't have any
 * vertical centering, so instead we have only some fixed padding on
 * the top. Then, the margin which allows the background to be visible
 * on the top and bottom starts appearing at a viewport height of 648
 * and tops out at a size of 36px.
 */
#page {
    min-height: 500px;
    padding-top: 1em;
}

@media screen and (min-height: 648px) and (max-height: 720px) {
    #page {
        margin-top: calc((100vh - 648px)/2);
        margin-bottom: calc((100vh - 648px)/2);
    }
}

@media screen and (min-height: 720px) {
    #page {
        margin-top: 36px;
        margin-bottom: 36px;
    }
}

/*\
|*|
|*| Responsive form layout
|*|
\*/

/*
 *
 * Within the form, fields can be placed in <div> elements with
 * class "form-field". Each can also have an additional class of one
 * of "small", "medium", or "large". These classes will be used to
 * select either a 1- or 2-column layout for each row depending on the
 * width of the screen.
 *
 * Expected layout is as follows:
 *
 *   "large"   rows: 1-column on all devices
 *
 *   "medium"  rows: 2-column on wide displays (laptop/desktop/tablet)
 *                   1-column on small display (phones)
 *
 *   "small"   rows: 2-column on all devices
 *
 * Finally, a class of either "left" or "right" will select which
 * column the field should appear in for fields that end up in 2
 * columns.
 */
form {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
}

.form-field.small.left,.form-field.medium.left {
    grid-column-start: 1;
}

.form-field.small.right,.form-field.medium.right {
    grid-column-start: 2;
}

.form-field.large {
    grid-column-start: 1;
    grid-column-end: span 2;
}

/* For a narrow screen, use a single-column for medium form fields. */
@media screen and (max-width: 600px) {
    .form-field.medium.left,.form-field.medium.right {
	grid-column-start: 1;
        grid-column-end: span 2
    }
}

/*\
|*|
|*| Styling for form input fields
|*|
\*/

label {
    font-size: 125%;
}

input {
    box-sizing: border-box;
    font-size: 125%;
    height: 40px;
    padding: 0.5em;
    width: 100%;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

input:focus {
    border: 2px solid var(--accent-color-bright);
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--accent-color);
    border: none;
    color: white;
    text-align: center;
    font-size: 125%;
    margin-top: .25em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    width: 200px;
}

button:hover {
    transform: translateY(-1px);
    background-color: var(--accent-color-bright);
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

/*\
|*|
|*| Styling for a message area
|*|
\*/

/* Default message severity is "info" but can be overriden. */
.message {
    padding: 1em;
    background-color: var(--accent-color-bright);
    color: white;
    transition: 0.3s;
    margin-bottom: 0.5em;
    font-weight: bold;
    border-radius: 4px;
    position: relative;
}

.success {
    background-color: var(--accent-color-bright);
}

.warning {
    background-color: var(--warning-color);
}

.danger {
    background-color: var(--danger-color);
}

.hide-button {
    color: white;
    font-size: 125%;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 0.5em;
    top: 0;
}

.hide-button:hover {
    color: var(--danger-color-dark);
}
