/* By default, hide things that are not to be shown
 * until a particular game state is reached. */
.show-state-join {
    display:none;
}

.show-state-reveal {
    display:none;
}

.show-state-capture {
    display:none;
}

/* And by default, show things that will be hidden
 * when a particular game state is reached. */
.hide-state-join {
    display:block;
}

.hide-state-reveal {
    display:block;
}

.hide-state-capture {
    display:block;
}

/* Spectators and players lists start out hidden (until people are added). */
#spectators-div {
    display:none;
}

#players-div {
    display:none;
}

/* Host tools start out hidden. */
#host-tools {
    display: none;
}

/* When a character name is being revealed, we want this to be huge,
 * (like, filling the screen huge). */
#character-reveal {
    color: var(--text-fg-color);
    font-size: 300%;
    font-weight: bold;
}
